/*
Free Basic Html5 Responsive Templates
Author: Kimmy
Author URI: http://www.cssmoban.com/
*/
/* ---------------------Reset----------------------- */
a,abbr,acronym,address,applet,article,aside,audio,b,blockquote,big,body,center,canvas,caption,cite,code,command,datalist,dd,del,details,dfn,dl,div,dt,em,embed,fieldset,figcaption,figure,font,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,keygen,label,legend,li,meter,nav,object,ol,output,p,pre,progress,q,s,samp,section,small,span,source,strike,strong,sub,sup,table,tbody,tfoot,thead,th,tr,tdvideo,tt,u,ul,var{background:transparent;border:0 none;font-size:100%;margin:0;padding:0;border:0;outline:0;vertical-align:top;}ol, ul {list-style:none;}blockquote, q {quotes:none;}table, table td {padding:0;border:none;border-collapse:collapse;}img {vertical-align:top;}embed {vertical-align:top;}
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {display:block;}
mark, rp, rt, ruby, summary, time {display:inline;}
input, textarea {border:0; padding:0; margin:0; outline: 0;}
iframe {border:0; margin:0; padding:0;}
input, textarea, select {margin:0; padding:0px;}

/* -------------------------------------------- */
/* ------------------Style---------------------- */
/* -------------------------------------------- */
html, body {width:100%; padding:0; margin:0;}
body {background-color: #E2E2E2;color: #292929;font: 14px/25px Arial, Helvetica, sans-serif;}

/*-------------------------*/
a{color: #006699;text-decoration: none;}
a:hover {text-decoration: none;}

a.button, input.button {	cursor: pointer;	color: #808080;	line-height: 12px;	font-family: Arial, Helvetica, sans-serif;	font-size: 12px;	font-weight: bold;	background: #E4E4E4;	border:1px solid #DFDFDF;}
a.button {	display: inline-block;	text-decoration: none;	padding: 6px 12px 6px 12px;}
input.button {	margin: 0;	border: 0;	height: 24px;	padding: 0px 12px 0px 12px;}
a.button:hover, input.button:hover {background: #006699;color:#ffffff;}

/*-------------header */
header {height: 75px;width:100%;background-color: #fff;position: fixed;top: 0px;left: 0px;z-index: 2;}

/*------------menu */

nav {width:1000px;height: 65px;margin: 0 auto;border-radius: 3px;}
nav ul {list-style: none;margin: 0;padding: 0;margin-left: 280px;}
nav>ul>li {position: relative;float: left;padding: 6px 5px 0px 5px}
nav ul li:hover {border-bottom: 2px solid #000;}
nav>ul>li>a {font-size: 13px; line-height:50px;color: #000;display: block;padding: 6px 10px 6px 10px;margin-bottom: 5px;z-index: 6;position: relative;font-weight:bold;}
nav>ul>li:hover a{color: #38d4ff;}
nav>a{
	float: left;
	line-height:75px;

}
nav{
	position:relative;
}
nav button{
	height:50px;
	border:none;
	background-color:#fff;
}
nav div.person{
	width: 150px;
	height:80px;
	position:absolute;
	background-color:#fff;
	left:890px;
	top:50px;
	border:1px solid #aaa;
	display:none;
}
nav div.person li{
	width:150px;
	height: 40px;
	text-align:center;
	line-height:40px;
	
}
nav div.person li:first-child{
	border-bottom:1px solid #aaa;
}
nav div.person li a{
	text-decoration:none;
	list-style:none;
	color:#000;
	font-size:15px;
	color:#aaa;
	z-index: 9999;
}

/*-------------content */
#content {}
.copyrights{text-indent:-9999px;height:0;line-height:0;font-size:0;overflow:hidden;}
.block {padding: 10px 0px;background:#ffffff;}

.main-content{}
.main-content article{margin: 20px 0;overflow:hidden; position:relative;}
.main-content .heading h2{ font-size:18px; line-height:25px; letter-spacing:-1px; font-weight:bold;}
.main-content .heading .info{font-size:12px; font-style:italic;}
.main-content .content{}
.main-content .content img{float:left; margin:3px 30px 0px 0; border:#BDBDBD 5px solid;}
.main-content .footer{}
.main-content .footer .more{float:right;}
.main-content .footer .more a{ text-decoration:none;}

.sidebar section{margin-bottom: 20px;}
.sidebar .heading{color:#99abad; background:#fff url('../images/boxtitle.png') no-repeat left center; font-size:20px; font-weight:normal; padding: 5px 10px 5px 50px;border-radius: 10px;font-weight: bold;}
.sidebar .content{padding:15px;}
.sidebar .content img{float:left; margin:5px; border:#BDBDBD 5px solid;}

.featured{width:100%; margin-bottom: 20px;}

ul {margin:0; padding:0;list-style-image:none;}
ul.list li {width:280px;padding:0px 0 5px 12px; line-height:25px; background:url(../images/marker-1.gif) 0 11px no-repeat;}
ul.list li a {font-size:14px; color:#292929; line-height:25px;}
ul.list li a:hover {color:#006699; text-decoration:none;}

/*------------footer */ 
footer {height: 260px; margin-top:15px;background: #222b34;}

footer .footer-top{width: 100%;background-color: #414e5e;height: 170px;}
footer ol{width: 900px;margin: 0px auto;padding-top: 40px;}
footer ol h4{color: #fff;}
footer ol li{width:100px;margin-left: 10px;line-height: 20px;font-size: 12px;color: #45caf1;float: left;}
footer ul {width: 770px;height: 30px;margin: 0px auto;margin-top: 25px;}
footer ul li {float: left;margin-left: 10px;}
footer ul li a {color: #ececec;font-size: 13px;}
footer ul li a:hover {color:#006699; text-decoration:none; cursor:pointer;}
footer p {width: 200px;height: 30px;margin: 0px auto;color: #ececec;font-size: 13px;}

/*-------------copyright*/
#copyright{display:inline-block; width:100%; text-align: center; background:url(../images/bg-footer.png);padding:8px 0px;color:#ffffff;}